.DS_Store
build/
.idea
.gradle
local.properties
*.iml
*.hprof
node_modules/
.vscode/
npm-debug.log
yarn-error.log
buck-out/
\.buckd/
*.keystore
!debug.keystore
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
*.jsbundle